

body {

    background-color: #85C1E9;
    font-family: Arial, Helvetica, sans-serif;
    color: #28B463;

    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#conteiner{

    background: #D6EAF8;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;

}


#button-calcular {

    margin: 15px;
    padding: 10px 40px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #28B463;
    border: none;
    border-radius: 8px;
    color: #D6EAF8;
}

button:hover {

    transition: all 0.3s;
}

button:active{

    scale: 0.9;
    transition: all 0.3s;
}


#text-area {
    
    resize: none;
    padding: 18px;
    width: 400px;
    height: 260px;
    background-color: #FDFEFE;
    border: none;
    border-radius: 8px;
    outline: none;
}

#resultado {

    font-size: 20px;
    font-weight: bold;
}